parameters:
  level: max
  paths: [src, tests]

  tmpDir: .cache/phpstan

  checkFunctionNameCase: true

  ignoreErrors:
    - identifier: missingType.iterableValue

  reportUnmatchedIgnoredErrors: false

  exceptions:
    implicitThrows: false

    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

    uncheckedExceptionClasses:
      - InvalidArgumentException
      - RuntimeException
      - PHPUnit\Framework\Exception

includes:
  - phpstan-baseline.neon
