parameters:
	ignoreErrors:
		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 5
			path: src/Config.php

		-
			message: '#^Method PHLAK\\Config\\Config\:\:split\(\) throws checked exception PHLAK\\Config\\Exceptions\\InvalidFileException but it''s missing from the PHPDoc @throws tag\.$#'
			identifier: missingType.checkedException
			count: 1
			path: src/Config.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 4
			path: src/Config.php
