parameters:
  level: max
  paths: [src, tests]

  tmpDir: .cache/phpstan

  checkFunctionNameCase: true
  reportUnmatchedIgnoredErrors: false

  exceptions:
    implicitThrows: false

    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

    uncheckedExceptionClasses:
      - InvalidArgumentException
      - RuntimeException
      - PHPUnit\Framework\Exception

  ignoreErrors:
    - identifier: missingType.iterableValue
    - message: /^Method .+ throws checked exception .+ but it's missing from the PHPDoc @throws tag.$/
      path: tests/*

includes:
  - phpstan-baseline.neon
